<div class="container">
    <form name="loginForm" #loginForm="ngForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="username" type="username" class="form-control" [(ngModel)]="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" [(ngModel)]="password" placeholder="Password" required>
            <small id="passwordHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="onLoginClick()">Login</button>
    </form>
</div>